.header {
  max-width: 1170px;
  height: 40px;
  margin: 0 auto;
  align-items: center;
}

.nav-btn {
  border: none;
  margin-left: 30px;
  background-color: #ffffff00;
  font-family: 'Harmonia-Regular';
  color: #383838;
}

.nav-btn:hover {
  color: #383838;
}
