@mixin education-container {
  .education {
    margin-bottom: 150px;
  }

  .education-container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin education-box(
  $waveBottom: 372px,
  $width: 100%,
  $paddingRight: 30px,
  $waveWidth: 100%
) {
  .education-box {
    width: $width;
    height: 400px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 41px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 41px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 41px -23px rgba(0, 0, 0, 0.75);

    &-container {
      width: 100%;
      height: 400px;
      padding: 10px;
    }

    &-wave {
      position: absolute;
      width: $waveWidth;
      padding-right: $paddingRight;
      bottom: $waveBottom;
      -moz-transform: scaleY(-1);
      -o-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
      filter: FlipV;
      -ms-filter: 'FlipV';
      z-index: -1;
    }
  }
}

@mixin school-icon($width: 100px, $height: 100px) {
  .school-icon {
    height: $height;
    width: $width;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
  }
}

@mixin school-cap($width: none, $height: none) {
  .school-cap {
    margin: 0 auto;
    width: $width;
    height: $height;
  }
}

@mixin school-name($fontSize: 18px) {
  .school-name {
    width: 80%;
    font-family: 'Harmonia-Black';
    font-size: $fontSize;
    margin: 0 auto;
    text-align: center;
    color: #595959;
  }
}

@mixin school-year($fontSize: 15px) {
  .school-year {
    font-family: 'Harmonia-Regular';
    font-size: $fontSize;
    margin: 0 auto;
    text-align: center;
    color: #595959;
  }
}
