@mixin me($height: 650px, $marginTopLeftCont: 50px, $marginTopRightCont: 50px) {
  .me-left-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
    margin-top: $marginTopLeftCont;
  }

  .me-right-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
    flex-direction: column;
    margin-top: $marginTopRightCont;
  }

  .me-right-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .me-right-bottom {
    margin-top: 50px;
  }
}

@mixin me-profile($imgSize: 200px) {
  .me-profile {
    width: $imgSize;
    height: $imgSize;
  }
}

@mixin me-name($fontSize: 20px) {
  .me-name {
    font-family: 'Harmonia-Black';
    font-size: $fontSize;
    margin-bottom: 0px;
    color: #595959;
  }
}

@mixin me-quote($fontSize: 20px) {
  .me-quote {
    font-family: 'Harmonia-Semi-Bold';
    font-size: $fontSize;
    margin-bottom: 0px;
    color: #595959;
  }
}

@mixin me-details($iconSize: 20px, $fontSize: 20px) {
  .me-icon {
    width: $iconSize;
    height: $iconSize;
    margin-right: 10px;
  }

  .me-details {
    display: flex;
    align-items: center;
    font-family: 'Harmonia-Regular';
    font-size: $fontSize;
    padding-left: 45px;
    color: #595959;
  }
}
